*.suo
BarbarianTMwarsTM/BarbarianTMwarsTM/BarbarianTMwarsTM/BarbarianTMwarsTM.csproj.user
BarbarianTMwarsTM/BarbarianTMwarsTM/BarbarianTMwarsTM/bin/
BarbarianTMwarsTM/BarbarianTMwarsTM/BarbarianTMwarsTM/obj/
BarbarianTMwarsTM/BarbarianTMwarsTM/BarbarianTMwarsTMContent/obj/x86/Debug/ContentPipeline.xml
!BarbarianTMwarsTM/BarbarianTMwarsTM/BarbarianTMwarsTM/bin/x86/Debug/save/testmap.sav